variables:
  GIT_DEPTH: "0"

workflow:
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - if: '$CI_COMMIT_MESSAGE =~ /skip ci|ci skip/'
      when: never
    - when: always

stages:
  - install
  - build
  - test
  - release
  - publish

install:
  stage: install
  image: node:20
  script:
    - npm ci
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
  artifacts:
    paths:
      - node_modules/
    expire_in: 1h

build:
  stage: build
  image: node:20
  dependencies:
    - install
  script:
    - npm run build
  artifacts:
    paths:
      - dist/

test:
  stage: test
  image: node:20
  dependencies:
    - install
  script:
    - npm run test

release:
  stage: release
  image: node:20
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_COMMIT_MESSAGE !~ /^chore\(release\):/'
  script:
    - git config --global user.email "$CI_USER"
    - git config --global user.name "$CI_USER"

    - git remote set-url origin https://oauth2:${AEM_CORE_FRONT_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git

    - node .gitlab/scripts/release.js

    - git push origin HEAD:main

publish:
  stage: publish
  image: node:20
  dependencies:
    - build
  needs:
    - build
    - release
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  script:
    - VERSION=$(node -p "require('./package.json').version")
    - echo "Publishing version $VERSION"
    - echo "registry=${SF_NEXUS_URL}/repository/${SF_NEXUS_NPM_REPO}/" > .npmrc
    - echo "//$(echo ${SF_NEXUS_URL}/repository/${SF_NEXUS_NPM_REPO}/ | sed 's|https://||'):_authToken=${SF_NEXUS_NPM_TOKEN}" >> .npmrc
    - git tag "v$VERSION"
    - git push https://oauth2:${AEM_CORE_FRONT_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git --tags

    - npm publish --no-git-checks
